/CODEOWNERS  @RuminaYuki

# RuminaYuki code
/Assets/Scripts/CoreSystem/StateMachineCore/ @RuminaYuki
/Assets/Scripts/CoreSystem/PathFinding/ @RuminaYuki

# RuminaYuki Scene
/Assets/Scene/Test/DonScene/ @RuminaYuki


# SDFcl Scene
/Assets/Scene/Test/MixScene/ @SDFcl